BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
PointerAlignment: Left
BreakBeforeBraces: Allman
AccessModifierOffset: -4
IndentAccessModifiers: false
EmptyLineBeforeAccessModifier: Always
AllowShortFunctionsOnASingleLine: None
FixNamespaceComments: false
NamespaceIndentation: All
IndentCaseLabels: true
IndentCaseBlocks: false